@import "tailwindcss";

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  background-color: #0a0a0f;
  touch-action: pan-x pan-y;
}

input,
textarea {
  user-select: text;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}